<nav class="relative container mx-auto p-6">
    <div class="flex items-center justify-between">
        <div class="pt-2">
            <a href="/"><img src="assets/img/logo.svg" alt="logo"></a>
        </div>
        <div class="hidden md:flex space-x-6">
            <a href="#" class="hover:text-darkGrayishBlue">Pricing</a>
            <a href="#" class="hover:text-darkGrayishBlue">Product</a>
            <a href="#" class="hover:text-darkGrayishBlue">About Us</a>
            <a href="#" class="hover:text-darkGrayishBlue">Careers</a>
            <a href="#" class="hover:text-darkGrayishBlue">Community</a>
        </div>
        <a href="#" class="hidden md:block p-3 px-6 text-white bg-brightRed rounded-full font-bold baseline hover:bg-brightRedLight">Get Started</a>
    </div>
</nav>